<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Ditch all eventually upwards configured (private) feeds from an (enterprise) environment -->
        <clear />
        <!-- Make sure we use the public nuget -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="Enliven packages" value="https://gitlab.com/api/v4/projects/28200840/packages/nuget/index.json" />
    </packageSources>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <bindingRedirects>
        <add key="skip" value="False" />
    </bindingRedirects>
    <disabledPackageSources>
        <!-- Ditch all eventually upwards configured (private) feeds from an (enterprise) environment -->
        <clear />
    </disabledPackageSources>
</configuration>