@using DiscordChatExporter.Core.Exporting.Writers.Html;

@namespace ChatExporter.Exporter
@inherits MiniRazor.TemplateBase<ChatExporter.Exporter.PostambleTemplateContext>

@* Close elements opened by preamble *@
</div>
</body>
</html>