<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="Logs/internal.log"
      internalLogLevel="Warn">
    <variable name="started" value="${date:format=yyyyMMdd_HHmmss}"/>
    <targets>
        <target xsi:type="File" name="logfile" fileName="Logs/latest.log"
                archiveOldFileOnStartup="true"
                archiveNumbering="Rolling"
                enableArchiveFileCompression="true"
                archiveFileName="Logs/{#}.zip"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}" />
        <target xsi:type="ColoredConsole" name="logconsole"
                detectConsoleAvailable="true"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
    </rules>
</nlog>