<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="Logs/internal.log"
      internalLogLevel="Warn">
    <variable name="started" value="${date:format=yyyyMMdd_HHmmss}"/>
    <targets>
        <target xsi:type="File" name="FileDetailed" fileName="Logs/latest-detailed.log"
                deleteOldFileOnStartup="true"
                layout="${longdate}|${level:uppercase=true}|${event-properties:item=DisplayedInstanceName}${logger}|${message}${onexception:${newline}${exception:format=tostring}}${event-properties:item=collectorRegistrationStacktrace}" />
        <target xsi:type="File" name="File" fileName="Logs/latest.log"
                archiveOldFileOnStartup="true"
                archiveNumbering="Rolling"
                enableArchiveFileCompression="true"
                archiveFileName="Logs/{#}.zip"
                layout="${longdate}|${level:uppercase=true}|${event-properties:item=DisplayedInstanceName}${logger}|${message}${onexception:${newline}${exception:format=tostring}}${event-properties:item=collectorRegistrationStacktrace}" />
        <target xsi:type="ColoredConsole" name="Console"
                detectConsoleAvailable="true"
                layout="${longdate}|${level:uppercase=true}|${event-properties:item=DisplayedInstanceName}${logger}|${message}${onexception:${newline}${exception:format=tostring}}${event-properties:item=collectorRegistrationStacktrace}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="FileDetailed" />
        <logger name="*" minlevel="Debug" writeTo="Console" />
        <logger name="*" minlevel="Info" writeTo="File" />
    </rules>
</nlog>